In [1]:
3 + 4

2 * 4

2 ** 4

16

In [2]:
import math
math.sqrt(16)

4.0

In [3]:
a = 1
b = 4
print(a)
b

1

4

In [4]:
print(type(1))
print(type(1.0))
type('hello')

<class 'int'>
<class 'float'>

str

In [5]:
a = True
b = False
print(a is False)
print(b is True)
print(b is False)

False
False
True

In [6]:
a = 3
if a:
    print('a')

a

In [7]:
b = 0
if b:
    print ('b')

In [8]:
# a new line \n is a common escape character
new_line_str = 'hi\nhi2'
print (new_line_str)

hi
hi2

In [9]:
# tuples are created using parentheses
mytuple = (1, 2, 3)
mytuple

(1, 2, 3)

In [10]:
# lists are created using square brackets
mylist = [1, 2, 3]
mylist

mylist.append(4)
mylist

# tuples are created using parentheses
mytuple = (1, 2, 3)
mytuple

newtuple = (mytuple, 4)
newtuple

print (mylist[2])
print (mytuple[0])

3
1

This is a markdown cell